services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "54321:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./backend:/app
      - backend_nodemodules:/app/node_modules
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - frontend_nodemodules:/app/node_modules
    depends_on:
      - backend

  jobs:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: npm run job:update-blogposts
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ./backend:/app
      - backend_nodemodules:/app/node_modules
    depends_on:
      - db

volumes:
  pgdata:
  backend_nodemodules:
  frontend_nodemodules:
